.avatar {
  border-radius: 8px;
}
.userInfo_item {
  margin-bottom: 6px;
  display: flex !important;
}
.profileTitle_name {
  margin-right: 5px;
  font-size: 28px;
}
.color-update {
  color: #666;
}
.profileTitle_username {
  margin-top: 19px;
  margin-left: 9px;
}
.container {
  margin-top: 0.75em;
}
.preview {
  display: flex !important;
}
